{% block zicht_version_row %}
    <table class="table-bordered table-condensed">
        {% for v in versions %}
            <tr>
                <td>{% if v.isActive %}*{% endif %}</td>
                <th>{{ v.versionNumber }}</th>
                <th>{{ v.basedOnVersion }}</th>
                <td><a href="{{ version_url(admin.generateObjectUrl('edit', object), v) }}">EDIT</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}